@model Print
@{
    ViewBag.Title = "BerekenKost";
}

<h2>Bereken hier je kostprijs</h2>

<form asp-action="BerekenKost">
    <label asp-for="KostPerRol"></label>
    <input asp-for="KostPerRol" />
    <label asp-for="AantalMeterPrint"></label>
    <input asp-for="AantalMeterPrint" />
    <label asp-for="Duurtijd"> in minuten</label>
    <input asp-for="Duurtijd" />
    <input type="submit" value="Berekenen " class="btn btn-primary" />
    @*@{
            var kostPerPrint = (Model.KostPerRol / 330) * Model.AantalMeterPrint + (0.0534m * Model.Duurtijd / 60);
        }*@
    <span>Kost per print: @*@kostPerPrint*@</span>
</form>


