
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        Menu
    </h2>
    <br />
    <br />
    <a asp-action="FilamentenLijst" asp-controller="Home">Toon een lijst met filamenten</a>
    <br />
    <br />
    <a asp-action="BerekenKost" asp-controller="Home">Bereken je kostprijs</a>
</div>