@model Filament
@{
    ViewBag.Title = "Toevoegen";
}
<h3>Filament toevoegen</h3>
<form asp-action="Toevoegen" method="post">
    <label asp-for="Type"></label>
    <select asp-for="Type" asp-items="@new SelectList(Enum.GetNames((typeof(Types))))">
    </select>
    <label asp-for="Kleur"></label>
    <select asp-for="Kleur" asp-items="@new SelectList(Enum.GetNames((typeof(Kleuren))))">
    </select>
    <label asp-for="KostPerRol"></label>
    <input asp-for="KostPerRol" />
    <label asp-for="AantalKg"></label>
    <input asp-for="AantalKg"/>
    <input type="submit" value="Toevoegen" class="btn btn-primary" />
</form>