@model Filament
@{ 
    ViewBag.Title = "Verwijderen";
}
@*todo hoofding*@
<h2>@Model.Type verwijderen?</h2>
<form method="post" action="~/Home/Delete/@Model.ID">
    <input type="submit" value="Delete"/>
</form>